<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <title>Invoice</title>

    <style>
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

</head>
<body>
<br>
    <main class="container">
      <div class="bg-light p-5 rounded">
        <h1>Predicted price for the current car:</h1> <h2>${{ prediction }} USD</h2>
        <p class="lead">This price was obtained by using image analysis with Neural Network and numerical analysis based on the provided technical data</p>
        <a class="btn btn-lg btn-primary" href="/" role="button">&laquo; Go back</a>
      </div>
    </main>
</body>
</html>